<a href="https://colab.research.google.com/github/Gressling/examples/blob/master/25_1_1_SQL_with_a_relational_database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# SQL with a relational database
# author: Gressling, T
# license: MIT License # code: github.com/gressling/examples
# activity: single example # index: 25-1 
# https://api.elephantsql.com/console/f40ff351-afd8-4a64-893f-2af520215bd7/details

In [1]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in /usr/local/lib/python3.6/dist-packages (2.7.6.1)

In [2]:
import psycopg2

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [18]:
conn = psycopg2.connect("dbname='fgyzziqp' user='fgyzziqp' host='dumbo.db.elephantsql.com' password='CMzjYfJpZTr9fX0tMzTmBoEyfyAMIegQ'")

In [19]:
cur = conn.cursor()

In [37]:
# https://www.postgresqltutorial.com
# CREATE TABLE results (experimentID integer, yield float);
# INSERT INTO results VALUES (155, '25.6'), (156, '81.7'), (158, '92');
# commit;
# https://www.psycopg.org/docs/usage.html
conn.commit()

In [28]:
cur.execute("CREATE TABLE results (id serial PRIMARY KEY, experimentID integer, yield float);")
conn.commit()

In [36]:
cur.execute("INSERT INTO results (experimentID, yield) VALUES (170, 25.6), (171, 81.2), (172, 67.2);")
conn.commit()

In [42]:
cur.execute("SELECT * from results where yield>80")
rows = cur.fetchall()

In [44]:
for row in rows:
 print(" ", row[1])

  171